.save p {
    margin: 0;
  }
  .save {
    width: 80%;
    box-shadow: 0 0 5px #ccc;
    background: #fff;
    padding: 1.5625rem;
  }
  .save .top {
    font-size: 1.125rem;
    font-weight: 700;
  }
  .save .top::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.1875rem;
    background: #f4f4f4;
    margin-top: 10px;
    margin-bottom: 5%;
  }
  .detail-list ul {
    display: flex;
    flex-wrap: wrap;
  }
  .detail-list ul li {
    display: flex;
    width: 50%;
    margin-bottom: 3%;
  }
  .detail-list ul li img {
    width: 100px;
    height: 80px;
    margin-right: 2%;
    cursor: pointer;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .star i {
    color: #e54c2a;
  }
  