ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .right-aside {
    width: 80%;
  }
  
  .right-aside > div:first-child {
    display: flex;
    /* border: 1px solid #000; */
    align-items: center;
    background: #fff;
    box-shadow: 0px 0px 5px #ccc;
    padding: 3%;
  }
  
  .right-aside > div:first-child > div {
    margin-left: 3%;
  }
  .right-aside > div:first-child > div > p:first-child {
    font-size: 16px;
  }
  .right-aside > div:first-child > div > p:last-child {
    font-size: 12px;
    color: #999;
    margin-top: 1%;
  }
  .right-aside > div:first-child > div > p:first-child > span {
    font-weight: bold;
  }
  
  .right-aside > div:first-child > img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  }
  
  .right-aside > div:first-child > div > p {
    margin: 0;
  }
  
  .show_order {
    display: flex;
    justify-content: space-between;
  }
  
  .order_info > ul > li > div {
    display: flex;
    justify-content: space-between;
  }
  
  .left-aside > ul > li > div > span {
    font-size: 1.125rem;
    font-weight: bold;
  }
  .left-aside > ul > li {
    margin-bottom: 15%;
  }
  .left-aside > ul > li > p {
    margin-left: 10%;
    margin-top: 7%;
    color: #666;
    font-size: 14px;
  }
  .left-aside > ul > li > div > i {
    font-size: 1rem;
    color: #aaa;
    margin-right: 1%;
  }
  .right-aside > div:last-child {
    background: #fff;
    box-shadow: 0px 0px 5px #ccc;
    margin-top: 3%;
    padding: 2%;
    /* height: 403px; */
    overflow: hidden;
  }
  .show_order {
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 1%;
  }
  .show_order > p:first-child {
    font-size: 1rem;
    color: #666;
    font-weight: 700;
  }
  .show_order > p > a {
    color: #666;
    text-decoration: none;
  }
  .order_info > ul > li {
    padding: 2%;
    border-top: 1px solid #eee;
  }
  .order_info > ul > li > div {
    font-size: 0.75rem;
    color: #999;
  }
  .order_info > ul > li > div p {
    margin-bottom: 2%;
  }
  .detail {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .order_title {
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }
  .order_title ~ a {
    color: #333;
    text-decoration: none;
  }
  .order_title ~ a > span {
    color: #e54c2a;
  }
  .time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #333;
  }
  .order_info > ul > li > div > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .order_info > ul > li > div > div:last-child > p:first-child {
    color: #999;
    font-size: 1rem;
  }
  .order_img {
    width: 4.375rem;
    height: 4.375rem;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-right: 6%;
  }
  .order_info > ul > li > div > div:first-child {
    width: 50%;
  }
  