.order-detail {
    width: 80%;
    box-shadow: 0 0 5px #ccc;
    background: #fff;
    padding: 1.5625rem;
}

.order-detail ul {
    padding: 0;
}

.order-detail .top {
    font-size: 1.125rem;
    font-weight: 700;
}

.order-detail .top::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.1875rem;
    background: #f8f8f8;
    margin-top: 10px;
}

.order-detail .steps {
    margin-top: 20px;
    padding-bottom: 30px;
    background: #f8f8f8;
}

.order-detail .steps>ul {
    list-style: none;
    display: flex;
    /* justify-content: space-around; */
    margin: 0;
    padding: 0;
    position: relative;
}

.order-detail .steps>ul::after {
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    border: 0.5px solid #ededed;
    position: absolute;
    left: 10%;
    margin-top: 2.5rem;
    top: 28%;
}

.order-detail .steps>ul>li {
    width: 50%;
    text-align: center;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 0.875rem;
    color: #999;
}

.order-detail .steps>ul li::after {
    position: absolute;
    content: "";
    background-color: #ddd;
    width: 1.125rem;
    height: 1.125rem;
    border: 5px solid #f8f8f8;
    border-radius: 50%;
    bottom: 0;
    margin-bottom: -9px;
    margin-left: -46px;
    z-index: 1;
}

.order-detail .detail .shop-img {
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2%;
}

.order-detail .detail .shop-info {
    display: flex;
}

.order-detail ul {
    list-style: none;
}

.order-detail p {
    margin: 0;
}

.order-detail .detail {
    background: #f8f8f8;
    margin-top: 5%;
    padding: 18px 0px 0px 30px;
    box-shadow: 0 0 5px #ccc;
}

.shop-info {
    font-size: 14px;
    color: #999;
    padding-right: 30px;
}

.shop-title {
    font-size: 16px;
    color: #333;
}

.shop-img+div {
    width: 100%;
}

.shop-img+div>p:first-child {
    display: flex;
    justify-content: space-between;
}

.shop-img+div>p:first-child>span {
    display: inline-block;
}

.order-no,
.order-no+span {
    display: inline-block;
    width: 26%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 8%;
}

.order-detail .more-info {
    display: flex;
    border-top: 1px solid #eee;
}

.shop-car {
    width: 55%;
    font-size: 14px;
    color: #666;
}

.shop-car ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.shop-car ul li:not(:first-child) span {
    margin-top: 3%;
}

.shop-car ul li span:first-child {
    display: inline-block;
    width: 50%;
}

.shop-car ul li span:nth-child(2) {
    display: inline-block;
    width: 10%;
    text-align: center;
}

.shop-car ul li span:last-child {
    display: inline-block;
    width: 30%;
    text-align: right;
}

.title {
    font-weight: 700;
    padding-top: 20px;
    /* padding-bottom: 16px; */
}

.order-info {
    background: #fff;
    width: 45%;
    font-size: 14px;
}

.pay {
    text-align: right;
    padding-top: 3%;
    padding-right: 7%;
}

.pay>span {
    display: inline !important;
    font-size: 1.625rem;
    font-weight: 700;
    color: #f74342;
}

.order-info ul li {
    padding-left: 8%;
}

.order-info ul li:not(:last-child):not(:first-child) {
    border-bottom: 1px solid #eee;
}

/* .order-info ul li p {
    margin-bottom: 5%;
  } */

.order-info ul li p:first-child {
    margin-top: 5%;
}

.order-info ul li p span:first-child {
    display: inline-block;
    width: 21%;
    text-align: justify;
    text-align-last: justify;
}

.order-info ul li p span:first-child::after {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 12px;
    content: "";
}

.order-info ul li p span:last-child {
    display: inline-block;
}

.order-info ul li p span:last-child::after {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 12px;
    content: "";
}

.evaluation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f1dc;
    border: 1px solid #f9e8bc;
    margin: 3% 0;
    padding: 2% 2%;
}

.evaluation>p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #333;
}