* {
    margin: 0;
    padding: 0;
  }
  .container {
    margin: 0 auto;
  }
  section {
    width: 100%;
  }
  
  a {
    text-decoration: none !important;
  }
  
  section > div:first-child {
    display: flex;
    margin-top: 2%;
  }
  
  section div:first-child p {
    margin-right: 1%;
  }
  
  section > div:first-child > p:first-child {
    display: inline-block;
    width: 0.6%;
    height: 21px;
    background: #000;
  }
  
  section div:first-child > p:last-child {
    font-weight: bold;
  }
  
  section > div:nth-child(2) {
    width: 100%;
    display: flex;
  }
  
  section > div:nth-child(2) > div:first-child {
    width: 33%;
  }
  
  section > div:nth-child(2) > div:first-child ul {
    box-shadow: 0px 0px 5px #ccc;
  }
  
  ul {
    list-style: none;
    background: #fff;
    margin: 0px;
    padding: 0px;
  }
  
  section > div:nth-child(2) > div:first-child > div {
    width: 100%;
    height: 22px;
    background-repeat: no-repeat;
  }
  
  section > div:nth-child(2) > div:first-child > ul > li {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-bottom: 1px solid #eee;
    padding-left: 8%;
    padding-right: 8%;
  }
  
  section > div:nth-child(2) > div:first-child > ul > li:last-child {
    justify-content: flex-end;
    border-bottom: none;
  }
  
  section > div:nth-child(2) > div:first-child > ul > li > span {
    display: inline-block;
  }
  
  section > div:nth-child(2) > div:first-child > ul > li:first-child {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  section
    > div:nth-child(2)
    > div:first-child
    > ul
    > li:first-child
    > span:first-child {
    font-size: 16px;
    color: #333;
    font-weight: 700;
  }
  
  section
    > div:nth-child(2)
    > div:first-child
    > ul
    > li:first-child
    > span:last-child
    a {
    color: #666;
  }
  
  section > div:nth-child(2) > div:first-child > ul > li:nth-child(2) {
    font-weight: bold;
  }
  
  .food {
    background: #fcfaf8 !important;
  }
  
  section > div:nth-child(2) > div:first-child > ul > li:last-child {
    color: #e54c2a;
    /* font-weight: bold; */
    font-size: 24px;
    padding-top: 20%;
    padding-bottom: 15%;
  }
  
  section
    > div:nth-child(2)
    > div:first-child
    > ul
    > li:last-child
    > span
    > span {
    font-size: 46px;
  }
  
  section > div:nth-child(2) > div:last-child {
    width: 65%;
    /* border: 1px solid #000; */
    margin-left: 2%;
    padding-left: 2%;
    padding-right: 2%;
    height: 60rem;
    box-shadow: 0px 0px 5px #ccc;
    background: #fff;
    margin-bottom: 5%;
  }
  
  h2 {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-top: 6%;
    margin-bottom: 3%;
  }
  
  section > div:nth-child(2) > div:last-child > h2 {
    display: flex;
    justify-content: space-between;
    margin-top: 4% !important;
  }
  
  section > div:nth-child(2) > div:last-child h2 > a {
    font-weight: normal;
  }
  
  /* section>div:nth-child(2)>div:last-child>div {
      width: 100%;
      height: 94%;
  } */
  
  .add-address {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    padding: 0;
    height: 4.99rem;
    background: #f1f1f1;
    font-weight: normal !important;
    font-size: 14px;
    cursor: pointer;
  }
  
  .add-address > i {
    font-size: 20px;
    margin-right: 0.5%;
  }
  
  .add-address > i,
  .add-address > span {
    font-style: normal;
    display: inline-block;
  }
  
  .add-address + div > h2 > span {
    font-weight: normal;
    font-size: 12px;
    margin-left: 1%;
    color: #ff9c00;
  }
  
  .pay_method {
    width: 50%;
    height: 20%;
    border: 1px solid #e54c2a;
    padding-left: 3%;
    padding-top: 2%;
    position: relative;
  }
  .pay_method p {
    margin-bottom: 0.7rem;
  }
  
  .tabs {
    display: inline-block;
    position: absolute;
    border: 17px solid transparent;
    border-right: 17px solid #e54c2a;
    border-bottom: 17px solid #e54c2a;
    top: 59%;
    right: 0%;
  }
  .tabs > i {
    position: absolute;
    font-weight: bold;
    color: #fff;
    top: -5px;
  }
  
  .add-address + div > div > p:first-child {
    margin-bottom: 2%;
    color: #000;
  }
  .another-info > div {
    color: #333;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
  }
  .another-info > div > span {
    margin-right: 3%;
  }
  .another-info > div > input {
    border: 1px solid #e0e0e0;
    width: 32%;
    padding: 5px 7px;
  }
  .another-info > button {
    margin-top: 4%;
    border: none;
    background: #e54c2a;
    color: #fff;
    font-size: 16px;
    padding: 12px 30px;
    cursor: pointer;
  }
  .another-info > div > i {
    color: #1ec971;
    font-size: 48px;
  }
  .another-info > div > p {
    margin: 0;
    border: 1px solid #e0e0e0;
    width: 22%;
    height: 3rem;
    line-height: 3rem;
    padding-left: 1%;
    padding-right: 1%;
    color: #666;
    display: flex;
    justify-content: space-between;
  }
  .another-info > div > p > i {
    color: #ccc;
  }
  .another-info > div:not(:nth-child(3)) {
    position: relative;
  }
  .another-info > div > div {
    position: absolute;
    width: 22.5%;
    border: 1px solid #e0e0e0;
    z-index: 10;
    height: 17rem;
    overflow: auto;
    /* display: none; */
  }
  .another-info > div > div::-webkit-scrollbar {
    width: 5px;
    background: #fff;
  }
  .another-info > div > div::-webkit-scrollbar-thumb {
    background: #ccc;
  }
  .another-info > div > div > ul > li {
    padding-left: 9%;
    padding-top: 8%;
    padding-bottom: 5%;
  }
  .another-info > div > div > ul > li:hover {
    background: #e0e0e0;
  }
  .another-info > div > div:last-child i {
    color: #1ec971;
    font-size: 26px;
  }
  .another-info > div:nth-child(2) > div {
    left: 11%;
    top: 97%;
  }
  
  .another-info > div:nth-child(4) > div {
    left: 18%;
    top: 80%;
  }
  div[data-right] {
    position: relative;
  }
  #modal {
    position: fixed;
    top: 0;
    background: #fff;
    width: 55%;
    z-index: 101;
    font-size: 14px;
    color: #666;
    padding: 2%;
    margin-left: 23%;
    margin-top: 9%;
    display: none;
  }
  #modal > div {
    display: flex;
    margin-bottom: 4%;
    align-items: center;
  }
  #modal > h2 {
    margin-top: 0;
    margin-bottom: 4%;
  }
  #modal > div > label {
    width: 8%;
    text-align: right;
    margin-right: 5%;
  }
  #modal > div > span {
    display: inline-block;
    margin-left: 1%;
    margin-right: 5%;
    cursor: pointer;
  }
  #modal > div > input:not([type="radio"]) {
    height: 39px;
    width: 40%;
    border: 1px solid #dedede;
    padding-left: 2%;
  }
  input::-webkit-input-placeholder {
    color: #bbbbbb;
  }
  
  #modal > div > button {
    width: 20%;
    height: 42px;
    margin-left: 13%;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    background: #e45c2a;
    cursor: pointer;
  }
  #modal > div > button + span {
    margin-left: 5%;
  }
  .modal-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    left: 0;
    top: 0;
    display: none;
  }
  div[data-address] {
    position: relative;
  }
  .city-popup {
    top: 0 !important;
    left: 13%;
  }
  .has-address {
    justify-content: flex-start !important;
    background: #fff !important;
    border: 1px solid #eee;
    position: relative;
  }
  .is-choose-address {
    border: 1px solid #e54c2a;
  }
  .has-address > i {
    display: block;
    width: 10%;
    font-size: 37px;
    text-align: center;
    float: left;
  }
  .has-address span {
    display: block;
  }
  .has-address > span > span:first-child {
    color: #333;
  }
  .showFirst {
    height: 80px;
    overflow: hidden;
  }
  div[data-address-list] > div > div > i {
    color: #fff;
  }
  div[data-address-list] + div {
    cursor: pointer;
  }
  .empty {
    width: 100%;
    padding: 3.125rem 0 3.125rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .empty p {
    margin: 0;
    margin-left: 3%;
    color: #999;
    font-weight: normal !important;
    font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue",
      "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif",
      "WenQuanYi Micro Hei", sans;
  }
  