* {
    margin: 0;
    padding: 0;
  }
  .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 10;
  }
  .isFixed{
    position:fixed;
  }
  .list-info ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
  }
  .list-info ul li {
    height: 115px;
    margin-right: 4px;
    line-height: 115px;
    font-size: 16px;
    padding-left: 2rem;
  }
  
  @media screen and (max-width: 850px) and (min-width: 741px) {
    .fixed {
      position: static !important;
    }
  }
  
  .list-info ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #535353;
    height: 100%;
    display: flex;
    text-align: center;
  }
  .list-info ul li a:hover {
    color: #e54c2a;
  }
  .nav {
    display: flex;
    padding-left: 15px;
    justify-content: space-around;
    margin: 0 auto;
  }
  .nav img {
    vertical-align: middle;
    margin-bottom: -23px;
    margin-right: 150px;
  }
  .test {
    padding-top: 30px;
    display: none;
    margin-left: 0;
  }
  .slider {
    width: 100%;
    height: auto;
    float: left;
    margin-top: -28.5%;
    margin-left: 17.5%;
  }
  
  @keyframes navAnimate {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  .fixed {
    position: fixed;
    z-index: 10000;
    background-color: #f5f5f5;
    width: 100%;
    top: -0px;
    animation: navAnimate 2s ease 1;
  }
  .header {
    background: #fff;
    box-shadow: 0px 0px 5px #ccc;
    width: 100%;
  }
  .header-menu {
    display: inline-block;
  }
  .header-right {
    float: right;
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
  }
  ul {
    list-style: none;
  }
  .show-btn {
    width: 50px;
    height: 50px;
    z-index: 100;
    cursor: pointer;
    display: none;
  }
  .show-btn i {
    font-size: 30px;
  }
  
  #demo {
    width: 100%;
  }
  .header-info {
    position: absolute;
    width: 300px;
    right: 0;
    font-size: 16px;
  }
  
  .header-info ul li {
    float: left;
    margin-left: 5%;
  }
  .header-info ul li a {
    color: #212529;
    font-weight: bold;
    text-decoration: none;
  }
  @media screen and (max-width: 910px) {
    .header-menu {
      display: none !important;
    }
  }
  